* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
    background-color: #f9f9f9; 
    margin: 0px 100px;
}

header {
    grid-area: header;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
}

ul li {
    margin: 0 50px;
    display: inline-block;
   
}

.navigation {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 30px;
}

a[href] {
    text-decoration: none;
    color: #333;
}

main > figure {
    height: 350px;

}

.banner-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image fits within its container */
    display: block; /* Removes extra space below images */
    margin: 0 auto; /* Centers the image */
    border-radius: 8px;
    border: 1px solid #333;
    
}



section {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}

article {
    background-color: white; 
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 340px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

article figure {
    margin-bottom: 10px; 
    width: 260px;
    height: 175px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

article img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px; 
}

article h2 {
    font-size: 1.2em;
    color: #333;
    text-align: left;
    padding-bottom:5px;
}

article p {
    font-size: 0.95em;
    color: #333;
    font-weight: 100;
    line-height: 1.5;
    padding-bottom:5px;
}

.learn-more {
    padding: 5px 10px;
    margin: 5px 0px;
    background-color: #d0604c;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    margin: 30px 0px 20px 0px;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #333;
}

footer figure {
    flex: 1;
}

footer p {
    flex: 1;
    justify-content: right;
    align-items: flex-end;
    text-align: right; 
}